@import '../../styles/style.scss';

.mini-board-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > * {
    margin: 5px;
  }
}

@include respond-to(small-handhelds) {
  .mini-board-wrapper {
    flex-direction: row;
  }
}

@include respond-to(handhelds) {
  .mini-board-wrapper {
    flex-direction: row;
  }
}

@include respond-to(medium-screens) {
  .mini-board-wrapper {
    flex-direction: column;
  }
}

@include respond-to(wide-screens) {
  .mini-board-wrapper {
    flex-direction: column;
  }
}


