.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

:host ::ng-deep {
  .content-with-toolbar {
    > div.content {
      height: calc(100vh - 64px);
      & > *:not(router-outlet) {
        display: block;
        height: 100%;
      }
    }
  }
}
