$color-1: #f44336;
$color-2: #9c27b0;
$color-3: #27b049;
$color-4: #2778e2;
$color-5: #e2a127;

$foreground-color-1: #ffffff;
$foreground-color-2: #fefefe;
$foreground-color-3: #fdfdfd;
$foreground-color-4: #fcfcfc;
$foreground-color-5: #fbfbfb;

$foreground-dark-color-1: #303030;
$foreground-dark-color-2: #423c3c;
$foreground-dark-color-3: #30362f;
$foreground-dark-color-4: #32383d;
$foreground-dark-color-5: #3b3633;

$colors: 'red' $foreground-color-1 $color-1, 'purple' $foreground-color-2 $color-2, 'green' $foreground-color-3 $color-3,
  'blue' $foreground-color-4 $color-4, 'orange' $foreground-color-5 $color-5, 'dark-red' $foreground-dark-color-1 $color-1,
  'dark-purple' $foreground-dark-color-2 $color-2, 'dark-green' $foreground-dark-color-3 $color-3, 'dark-blue' $foreground-color-4 $color-4,
  'dark-orange' $foreground-dark-color-5 $color-5;
