@import './colors';

$break-small: 320px;
$break-medium: 415px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media==small-handhelds {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  }

  @else if $media==handhelds {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) {
      @content;
    }
  }

  @else if $media==medium-screens {
    @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large - 1) {
      @content;
    }
  }

  @else if $media==wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

@mixin cell-style($size) {
  width: $size;
  height: $size;
  padding: 0;
  text-align: center;
  line-height: $size;
  // display: inline-block;
  display: table-cell;
}

.flex-component {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 10px 10px 0 rgba(0, 0, 0, 0.2), 4px 10px 10px 0 rgba(0, 0, 0, 0.19);
  }
}


@mixin table($cellSize, $color, $bgColor) {
  $selectedCellBgColor: $color;
  $selectedCellColor: $bgColor;

  table {
    * {
      user-select: none;
      font-family: 'Montserrat', sans-serif;
      color: $color;
      // background-color: #23272a;
      user-select: none;
      border: none;
    }

    background-color: $bgColor;

    &.control {
      padding: 10px 10px 0 10px;
      border-radius: 10px 10px 0 0;

      thead {
        tr {
          th {
            @include cell-style($cellSize);
            display: table-cell;
          }

          &.divider {
            th {
              height: 1px;
            }
          }
        }
      }
    }

    &.row {
      padding: 0px 10px 0 10px;

      &.highlight {
        background-color: darken($selectedCellBgColor, 20%);
        box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4), inset 0 -7px 9px -7px rgba(0, 0, 0, 0.4);
      }

      .candidate-background {
        display: none;
      }

      &.bingo-candidate {
        background-color: rgba(255, 255, 255, 0.89);

        tbody {
          tr {
            td.cell.hasValue {
              &:not(.selected) {
                line-height: $cellSize - 10px;
                border-radius: 100%;
                background-color: #fff;
                font-weight: bolder;
                overflow: hidden;

                .candidate-background {
                  display: block;
                  background: $selectedCellBgColor;
                  height: 5px;
                  float: left;
                  width: 100%;
                }
              }
            }
          }
        }
      }

      &:last-child {
        border-radius: 0 0 10px 10px;
        padding: 0px 10px 10px 10px;
      }

      tbody {
        tr {
          &.divider {
            td {
              width: $cellSize;
            }
          }

          td.cell {
            @include cell-style($cellSize);
            font-size: 20px;

            .hasValue {
              cursor: pointer;
            }

            &.selected {
              background-color: $selectedCellBgColor;
              color: $selectedCellColor;
              font-weight: bold;
              border-radius: 100%;
              box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2), 3px 0 5px 0 rgba(0, 0, 0, 0.19);

              &.recent {
                background-color: darken($selectedCellBgColor, 20%);
              }
            }
          }
        }
      }
    }

    &.mini-board {
      width: 50px;
      height: 50px;
      padding: 2px;
      border-radius: 2px;

      .hasValue {
        border-radius: 100%;
        background-color: $selectedCellBgColor;
        opacity: 0.2;

        &.selected {
          opacity: 1;
          background-color: $selectedCellBgColor;
        }
      }
    }
  }
}
