<div class="flex-component">
  <div [ngClass]="['wrapper', theme]">
    <table cellspacing="0" cellpadding="0" class="control">
      <thead>
        <tr>
          <th (click)="game.restart()" colspan="3">| Reset |</th>
          <th colspan="3"></th>
          <th (click)="game.init()" colspan="3">| Reload |</th>
        </tr>
        <tr class="divider">
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    </table>
    <table
      cellspacing="0"
      cellpadding="0"
      class="row"
      *ngFor="let row of game.boardState; let i = index"
      [class.highlight]="game.bingoRowIdx === i"
      [class.bingo-candidate]="isBingoCandiate(i)"
    >
      <tbody>
        <tr>
          <td
            *ngFor="let cell of row; let j = index"
            [class.selected]="cell.status === 'CHECKED'"
            [class.cell]="true"
            [class.hasValue]="cell.value"
            (click)="game.check(i, j)"
          >
            <div class="candidate-background"></div>
            {{ cell.value }}
            <div class="candidate-background"></div>
          </td>
        </tr>
      </tbody>
    </table>
    <table cellspacing="0" cellpadding="0" class="row">
      <tbody>
        <tr class="divider">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
