<div class="row">
  <div class="diamond-shape-wrapper">
    <div class="container diamond-shape">
      <div class="item-text" (click)="goto('dealer')">Dealer</div>
    </div>
  </div>
  <div class="diamond-shape-wrapper">
    <div class="container diamond-shape">
      <div class="item-text" (click)="goto('player')">Player</div>
    </div>
  </div>
  <div class="diamond-shape-wrapper">
    <div class="container diamond-shape">
      <div class="item-text" (click)="goto('player')">Player</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="diamond-shape-wrapper">
    <div class="container diamond-shape">
      <div class="item-text" (click)="goto('dealer')">Dealer</div>
    </div>
  </div>
  <div class="diamond-shape-wrapper">
    <div class="container diamond-shape">
      <div class="item-text" (click)="goto('player')">Player</div>
    </div>
  </div>
</div>
