<div class="rpr-home">
  <div class="row-group">
    <div class="row">
      <div class="diamond-shape-wrapper">
        <div class="container diamond-shape">
          <div class="item-text" (click)="goto('dealer')">Người Kêu Số</div>
        </div>
      </div>
      <div class="diamond-shape-wrapper">
        <div class="container diamond-shape flower-bg">
          <div class="item-text">Chúc mừng năm mới</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="diamond-shape-wrapper">
        <div class="container diamond-shape">
          <div class="item-text" (click)="goto('player')">Người chơi</div>
        </div>
      </div>
    </div>
  </div>
</div>
