@import "../../style.scss";

.control-bar {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.control-button {
    @extend .base-button;
    width: 129px;
    height: 46px;
    display: table-cell;
}
  