@import '../../styles/style.scss';

.player-component {
  height: 100%;
  display: flex;
  padding-top: 110px;
  padding-bottom: 10px;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
