.dealer-component {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 110px;
    padding-bottom: 10px;
    align-content: space-evenly;
    height: 100%;
}


