// @import '../../style.scss';

// .flex-container {
//     display: flex;
//     justify-content: flex-start;
//     flex-wrap: wrap;
// }

// .exposed-numbers {
//     @extend .flex-container;
//     width: 500px;
// }

// .base-button {
//     height: 48px;
//     font-weight: bold;
//     &.random {

//     }
// }

// table {
//     > tbody {
//         border-spacing: initial;
//     }
// }

table {
  * {
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    // color: #99aab5;
    // background-color: #23272a;
    user-select: none;
  }

  &.new.board {
    background-color: #2c2f33;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
    box-shadow: 2px 6px 10px 0 rgba(0, 0, 0, 0.2), 4px 4px 10px 0 rgba(0, 0, 0, 0.19);

    td.cell {
      width: 30px;
      height: 30px;
      padding: 0;
      text-align: center;
      line-height: 30px;
      display: inline-block;

      &.selected {
        background-color: #4c63b2;
        border-radius: 100%;
        box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.2), 4px 4px 10px 0 rgba(0, 0, 0, 0.19);
        /*display: inline-block;*/
      }
    }

    tr{
      &.highlight {
        background-color: #323275;
        height: 30px;
        td {
          &:first-child {
            border-top-left-radius: 100%;
            border-bottom-left-radius: 100%;
          }
          &:last-child {
            border-top-right-radius: 100%;
            border-bottom-right-radius: 100%;
          }
        }
      }
    }
  }
}



