<div>
  <table class="board new">
    <tbody>
      <tr>
        <th (click)="random()">| Random |</th>
        <th>{{ currentExposed$ | async }}</th>
        <th *ngIf="autoStatus$ | async" (click)="pause()">| Pause |</th>
        <th *ngIf="!(autoStatus$ | async)" (click)="resume()">| Auto |</th>
        <th (click)="restart()">| Restart |</th>
      </tr>
    </tbody>
  </table>
  <!-- <table cellspacing="0" cellpadding="0" class="board new">
    <tbody>
      <tr *ngFor="let row of game.boardState; let i = index" [class.highlight]="game.bingoRowIdx === i">
        <td
          *ngFor="let cell of row; let j = index"
          [class.selected]="cell.status === 'CHECKED'"
          [class.cell]="true"
          (click)="game.check(i, j)"
        >
          {{ cell.value }}
        </td>
      </tr>
    </tbody>
  </table> -->
</div>
<!-- <table>
  <thead>
    <tr>
      <th colspan="3" (click)="random()" class="random base-button">Random</th>
      <th colspan="1">{{ currentExposed$ | async }}</th>
      <th colspan="3" class="pause base-button" *ngIf="autoStatus$ | async" (click)="pause()">Pause</th>
      <th colspan="3" class="pause base-button" *ngIf="!(autoStatus$ | async)" (click)="resume()">Auto</th>
      <th colspan="3" (click)="restart()" class="restart base-button">Restart</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let row of dealerExposedNumbers$ | async">
      <td *ngFor="let number of row">
        <rpr-cell [cellNumber]="number"></rpr-cell>
      </td>
    </tr>
  </tbody>
</table> -->
