<div class="flex-component">
  <div [ngClass]="['wrapper', theme]">
    <div class="new-board">
      <div class="header">
        <div (click)="random()">| Gọi số |</div>
        <div *ngIf="!(sortedStatus$ | async)" (click)="sort()">| Sắp xếp |</div>
        <div *ngIf="sortedStatus$ | async" (click)="noSort()">| Sắp xếp |</div>
        <div *ngIf="autoStatus$ | async" (click)="pause()">| Tạm Dừng |</div>
        <div *ngIf="!(autoStatus$ | async)" (click)="resume()">| Tự gọi |</div>
        <div (click)="restart()">| Chơi lại |</div>
      </div>
      <div class="row-group"  *ngIf="dealerExposedNumbers$ | async as dealerExposedNumbers">
        <div
          *ngFor="let row of dealerExposedNumbers; let i = index"
          [class.row]="true"
        >
          <div
            [class.selected]="cell"
            [class.cell]="true"
            [class.recent]="cell === currentExposed"
            *ngFor="let cell of row; let j = index"
          >
            {{ cell }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
