<div class="flex-component">
  <div [ngClass]="['wrapper', theme]">
    <table cellspacing="0" cellpadding="0" class="control">
      <thead>
        <tr>
          <th (click)="random()" colspan="3">| Random |</th>
          <th *ngIf="autoStatus$ | async" (click)="pause()" colspan="4">| Pause |</th>
          <th *ngIf="!(autoStatus$ | async)" (click)="resume()" colspan="4">| Auto |</th>
          <th (click)="restart()" colspan="3">| Restart |</th>
        </tr>
        <tr class="divider">
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    </table>
    <table cellspacing="0" cellpadding="0" class="row exposed">
      <tbody *ngIf="dealerExposedNumbers$ | async as dealerExposedNumbers">
        <tr *ngFor="let row of dealerExposedNumbers; let i = index">
          <td
            *ngFor="let cell of row; let j = index"
            [class.selected]="cell"
            [class.cell]="true"
            [class.recent]="cell === currentExposed"
          >
            {{ cell }}
          </td>
          <td *ngIf="row.length < 1" [class.cell]="true"></td>
          <td *ngIf="row.length < 2" [class.cell]="true"></td>
          <td *ngIf="row.length < 3" [class.cell]="true"></td>
          <td *ngIf="row.length < 4" [class.cell]="true"></td>
          <td *ngIf="row.length < 5" [class.cell]="true"></td>
          <td *ngIf="row.length < 6" [class.cell]="true"></td>
          <td *ngIf="row.length < 7" [class.cell]="true"></td>
          <td *ngIf="row.length < 8" [class.cell]="true"></td>
          <td *ngIf="row.length < 9" [class.cell]="true"></td>
          <td *ngIf="row.length < 10" [class.cell]="true"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
