table {
  width: 100%;
  td {
    mat-form-field {
      padding-top: 10px;
    }
  }
}
.add-new-row-button {
  float: right;
  right: 10px;
  margin-top: -28px;
}
.loading-indicator {
  display: flex;
  justify-content: center;
}

.list-product {
  padding: 10px 10px 0 10px;
}

:host ::ng-deep {
  .list-product {
    .mat-expansion-panel-body {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
