.cell-number {
  width: 46px;
  height: 46px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  user-select: none;

  &.has-value {
    border: 1px solid wheat;

    &.CHECKED {
      color: white;
      background-color: #ff9800;
      font-weight: bolder;
    }

    &.enable {
      &:hover {
        background-color: #ff990091;
      }
      cursor: pointer;
    }
  }
}
